h2{
    text-align: center;
    margin: 15px;
    font-style: italic;
}
table{
    border-collapse: collapse;
    width: 80%;
    margin: auto;
}
th, td{
    text-align: left;
    padding: 8px;
    width: 25%;
}
tr:nth-child(even){background-color: #f2f2f2}
th{
    background-color: #2bc265;
    color: white;
}